*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    background-color: #444040;
    width: 100%;
  
}

header{
    border-bottom: 3px solid #b13434;
    font-size: 30px; 
}

nav{
    margin: 30px 10px;
}

.recherche{
    float: right;
    position: sticky; 
    margin-right: 20px;     
}

a{
    text-decoration: none;
    color: #f5f5f5; 
    margin: 20px
}

h1{
    color: #f5f5f5; 
    display: flex;
   justify-content: center;
   font-size: 45px;
   padding-top: 50px;
   padding-bottom: 50px;
   
}

select{
    color: #444040;
}

.container{
    /*font-size: 16px;*/
    width: 90%;
    max-width: 50%;
    padding: 30px 20px;
    margin: auto;
    margin-top: 150px;
    background-color: #444040;
    border: 5px solid #a0a0a0;
    border-radius: 10px;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.search-container{
display: grid;
grid-template-columns: 9fr 3fr;
gap: 10px; 
}

.search-container input, .search-container button{
    font-size: 20px;
    outline: none;
    border-radius: 8px;
}

.search-container input{
    background-color: transparent;
    border: 1px solid #a0a0a0;
    padding: 10px;
    color: #f5f5f5;
}

.search-container input:focus{
border: 1px solid #f5f5f5;
}

.search-container button{
    background-color: #b13434;
    border: none;
    cursor: pointer;
}

.search-container button:focus{
    border: 1px solid #f5f5f5;
    background-color: transparent;
}

#result{
    color: #f5f5f5;
}

.info{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    margin-top: 10px;
}

.poster{
    width: 100%;
    margin-top: 10px;
}

h2{
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    font-weight: 600;
    letter-spacing: 4px;
}

.details{
    display: flex;    
    justify-content: center;
    margin: 10px 0; 
}

.year{
    font-size: 35px;
    color: #f5f5f5;
}

.director{
    display: flex;  
    justify-content: center;
    margin: 10px 0;
    margin-top: 50px;
    color: #f5f5f5;
    font-size: 35px; 
   font-style: italic;
}

h3{
    font-weight: 500;
    margin-top: 1.2em;
}

p{
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: center;
    color: #a0a0a0
}

.msg{
    text-align: center;
}

.tab-1{
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px ;
}

tr{
    transition: all .25s ease-in-out; 
}

tr:hover{
    background-color:#f5f5f5; 
    cursor: pointer;
}

td{
    margin-right: 20px;
   color: #a0a0a0;
    padding:  10px 20px;
    border-top: 1px solid #f5f5f5;
    font-size: 20px;
    text-transform: capitalize;
}

th{
    padding:  10px 20px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 25px;
}

button{
    color: #F5F5F5; 
    background-color: #B13434;
    padding: 5px 20px;
    border-radius: 10px;
}

@media screen and (max-width:1200px){
.container{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    padding-top: 20px;  
}

input{
    display: flex;
    flex-direction: row;
}

button{
    padding: 5px 5px;
    border-radius: 10px; 
    margin-top: 10px; 
}

 h1{
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}

.year{
    font-size: 30px;
    color: #f5f5f5;
}

.director{ 
   text-align: center;
    font-size: 20px; 
}

.info{
    grid-template-columns: 1fr;
}
.tab-1{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px ;
}
}
@media screen and (max-width:900px){
    .search-container{
        display: flex;
        flex-direction: column;
    }
.container{
    padding: 20px;
   
}

input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.tab-1{
       
        margin-left: 10px;
        margin-top: 10px;
        padding: 5px ;  
    }

td{
        font-size: 10px;
        padding: 5px 5px;
        
    }
th{
        font-size: 12px;
       
    }
    .recherche{
        float: none;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }
}
